.keyword-rows {
    margin-top: 30px;
    margin-bottom: 10px;
}

.keyword-label{
    margin-top: 5px;
}

.rows-input-group {
    margin: 5px;
}

.footer-actions {
    margin: 20px;
}

.keywords-translation {
    margin-left: 10px;
}

.action-btns {
    margin-left: 10px;
}

.actions-col {
    align-content: flex-end;
}